/dist/
/client/dist/
/client/public/assets/material_web/assets/icons/

target/
node_modules/
package-lock.json

.bloop/
.bsp/
.idea/
.metals/
.vscode/
.scala-build/
metals.sbt

server/src/main/resources/static/

.DS_Store